<div class="content-page">
  <div class="content-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 my-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="navbar-breadcrumb">
              <h1 class="mb-1">Zones</h1>
              <p class="mb-md-0">See all the zones worldwide</p>
            </div>

            <div class="col-lg-2 col-md-4" id="view-event">
              <div class="mb-4">
                <button class="btn btn-primary">New Zone</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="tab-extra active" id="search-with-button">
        <div class="d-flex flex-wrap align-items-center mb-4">
          <div class="iq-search-bar search-device mb-0 pr-3">
            <form action="#" class="searchbox">
              <input type="text" class="text search-input" placeholder="Search...">
            </form>
          </div>
          <div class="float-sm-right"><a href="page-new-event.html" class="btn btn-primary pr-5 position-relative" style="height: 40px;">Add Event<span class="event-add-btn" style="height: 40px;"><i class="ri-add-line"></i></span></a></div>
        </div>
      </div>-->
    </div>
  </div>

  <div class="container">
    <div class="tab-extra active" id="search-with-button">
      <div class="d-flex flex-wrap align-items-center mb-4">
        <div class="iq-search-bar search-device mb-0 pr-3">
          <form class="searchbox">
            <input type="text" class="text search-input" placeholder="Search...">
          </form>
        </div>
        <div class="float-sm-right">
          <a href="page-new-event.html" class="btn btn-primary pr-5 position-relative" style="height: 40px;">
            Search <span class="event-add-btn" style="height: 40px;"><i class="ri-search-line"></i></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="event-content">
          <div id="event1" class="tab-pane fade active show">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                  <div class="card-body rounded event-detail event-detail-danger disabled">
                    <div class="d-flex align-items-top justify-content-between">
                      <div>
                        <h4 class="mb-2 mr-4">Massachusetts Zone</h4>
                        <p class="mb-2 text-danger font-weight-500 text-uppercase">
                          <i class="las la-map-pin pr-2"></i>Massachusetts, USA
                        </p>
                        <p class="mb-2 text-danger font-weight-500 text-uppercase">
                          <i class="las la-user pr-2"></i>John Chigozie
                        </p>
                        <p class="mb-3 card-description">
                          5 total appointments
                        </p>
                        <div class="d-flex align-items-center pt-3">
                          <a href="#" class="btn btn-danger mr-3 px-xl-3">View Zone</a>
                        </div>
                      </div>
                      <div class="card-header-toolbar mt-1">
                        <div class="dropdown d-none">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                                                        <i class="ri-more-2-fill"></i>
                                                    </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="ri-pencil-line mr-3"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="ri-sticky-note-line mr-3"></i>Add Internal Note</a>
                            <a class="dropdown-item" href="#"><i class="ri-save-line mr-3"></i>Save to Template</a>
                            <a class="dropdown-item" href="#"><i class="ri-code-s-slash-line mr-3"></i>Save to Website</a>
                            <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-line mr-3"></i>Delete</a>
                            <div class="dropdown-item border-top mt-2">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>On/Off</div>
                                <div class="custom-control custom-switch p-0">
                                  <input type="checkbox" class="custom-control-input card-change" id="customSwitch2" checked>
                                  <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                  <div class="card-body rounded event-detail event-detail-info">
                    <div class="d-flex align-items-top justify-content-between">
                      <div>
                        <h4 class="mb-2 mr-4">Texas Zone</h4>
                        <p class="mb-2 text-info font-weight-500 text-uppercase"><i class="las la-map-pin pr-2"></i>Texas, USA</p>
                        <p class="mb-2 text-info font-weight-500 text-uppercase"><i class="las la-user pr-2"></i>Patricia Nkemdiri</p>
                        <p class="mb-3 card-description">7 appointments</p>
                        <div class="d-flex align-items-center pt-3">
                          <a href="#" class="btn btn-info mr-3 px-xl-3">View Zone</a>
                        </div>
                      </div>
                      <div class="card-header-toolbar mt-1">
                        <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton02" data-toggle="dropdown">
                                                        <i class="ri-more-2-fill"></i>
                                                    </span>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton02">
                            <a class="dropdown-item" href="#"><i class="ri-pencil-line mr-3"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="ri-sticky-note-line mr-3"></i>Appointments</a>
                            <!--<a class="dropdown-item" href="#"><i class="ri-save-line mr-3"></i>Save to Template</a>
                            <a class="dropdown-item" href="#"><i class="ri-code-s-slash-line mr-3"></i>Save to Website</a>
                            <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-line mr-3"></i>Delete</a>-->
                            <div class="dropdown-item border-top mt-2">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>Activate</div>
                                <div class="custom-control custom-switch p-0">
                                  <input type="checkbox" class="custom-control-input card-change" id="customSwitch5">
                                  <label class="custom-control-label" for="customSwitch5"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                  <div class="card-body rounded event-detail event-detail-success">
                    <div class="d-flex align-items-top justify-content-between">
                      <div>
                        <h4 class="mb-2 mr-4">Abuja Zone</h4>
                        <p class="mb-2 text-success font-weight-500 text-uppercase"><i class="las la-map-pin pr-2"></i>FCT, Nigeria</p>
                        <p class="mb-2 text-success font-weight-500 text-uppercase"><i class="las la-user-friends pr-2"></i>Francis Madu, Mary Ajio</p>
                        <p class="mb-3 card-description">5 Total Appointments</p>
                        <div class="d-flex align-items-center pt-3">
                          <a href="#" class="btn btn-success mr-3 px-xl-3">View Zone</a>
                          <!--<a href="#" class="btn btn-outline-success copy px-xl-3" data-extra-toggle="copy" title="Copy to clipboard" data-toggle="tooltip"><i class="las la-link pr-2"></i>Copy Link</a>
                          <a href="#" class="btn btn-outline-success d-none turn-on px-xl-3">Turn On</a>-->
                        </div>
                      </div>
                      <div class="card-header-toolbar mt-1">
                        <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                                                        <i class="ri-more-2-fill"></i>
                                                    </span>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                            <a class="dropdown-item" href="#"><i class="ri-pencil-line mr-3"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="ri-sticky-note-line mr-3"></i>Appointments</a>
                            <!--<a class="dropdown-item" href="#"><i class="ri-save-line mr-3"></i>Save to Template</a>
                            <a class="dropdown-item" href="#"><i class="ri-code-s-slash-line mr-3"></i>Save to Website</a>
                            <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-line mr-3"></i>Delete</a>-->
                            <div class="dropdown-item border-top mt-2">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>Deactivate</div>
                                <div class="custom-control custom-switch p-0">
                                  <input type="checkbox" checked class="custom-control-input card-change" id="customSwitch1">
                                  <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                  <div class="card-body rounded event-detail event-detail-primary">
                    <div class="d-flex align-items-top justify-content-between">
                      <div>
                        <h4 class="mb-2 mr-4">New Year Iqonic Design Campaigns</h4>
                        <p class="mb-2 text-primary font-weight-500 text-uppercase"><i class="las la-user-friends pr-2"></i>Group</p>
                        <p class="mb-3 card-description">Quickly schedule and set the event type to manage all your marketing and management campaigns. </p>
                        <div class="d-flex align-items-center pt-3">
                          <a href="#" class="btn btn-primary mr-3 px-xl-3">15 Min</a>
                          <a href="#" class="btn btn-outline-primary copy px-xl-3" data-extra-toggle="copy" title="Copy to clipboard" data-toggle="tooltip"><i class="las la-link pr-2"></i>Copy Link</a>
                          <a href="#" class="btn btn-outline-primary d-none turn-on px-xl-3">Turn On</a>
                        </div>
                      </div>
                      <div class="card-header-toolbar mt-1">
                        <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton4" data-toggle="dropdown">
                                                        <i class="ri-more-2-fill"></i>
                                                    </span>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton4">
                            <a class="dropdown-item" href="#"><i class="ri-pencil-line mr-3"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="ri-sticky-note-line mr-3"></i>Add Internal Note</a>
                            <a class="dropdown-item" href="#"><i class="ri-save-line mr-3"></i>Save to Template</a>
                            <a class="dropdown-item" href="#"><i class="ri-code-s-slash-line mr-3"></i>Save to Website</a>
                            <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-line mr-3"></i>Delete</a>
                            <div class="dropdown-item border-top mt-2">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>On/Off</div>
                                <div class="custom-control custom-switch p-0">
                                  <input type="checkbox" class="custom-control-input card-change" id="customSwitch4">
                                  <label class="custom-control-label" for="customSwitch4"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                  <div class="card-body rounded event-detail event-detail-warning">
                    <div class="d-flex align-items-top justify-content-between">
                      <div>
                        <h4 class="mb-2 mr-4">Project And Task Management Roles</h4>
                        <p class="mb-2 text-warning font-weight-500 text-uppercase"><i class="las la-user-friends pr-2"></i>Group</p>
                        <p class="mb-3 card-description">Set reminders for your team regarding their project and task completion so that they are not overlooked. </p>
                        <div class="d-flex align-items-center pt-3">
                          <a href="#" class="btn btn-warning mr-3 px-xl-3">25 Min</a>
                          <a href="#" class="btn btn-outline-warning copy px-xl-3" data-extra-toggle="copy" title="Copy to clipboard" data-toggle="tooltip"><i class="las la-link pr-2"></i>Copy Link</a>
                          <a href="#" class="btn btn-outline-warning d-none turn-on px-xl-3">Turn On</a>
                        </div>
                      </div>
                      <div class="card-header-toolbar mt-1">
                        <div class="dropdown">
                                                    <span class="dropdown-toggle" id="dropdownMenuButton5" data-toggle="dropdown">
                                                        <i class="ri-more-2-fill"></i>
                                                    </span>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                            <a class="dropdown-item" href="#"><i class="ri-pencil-line mr-3"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="ri-sticky-note-line mr-3"></i>Add Internal Note</a>
                            <a class="dropdown-item" href="#"><i class="ri-save-line mr-3"></i>Save to Template</a>
                            <a class="dropdown-item" href="#"><i class="ri-code-s-slash-line mr-3"></i>Save to Website</a>
                            <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-line mr-3"></i>Delete</a>
                            <div class="dropdown-item border-top mt-2">
                              <div class="d-flex align-items-center justify-content-between">
                                <div>On/Off</div>
                                <div class="custom-control custom-switch p-0">
                                  <input type="checkbox" class="custom-control-input card-change" id="customSwitch3">
                                  <label class="custom-control-label" for="customSwitch3"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
