<div class="content-page">
  <div class="content-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 my-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="navbar-breadcrumb">
              <h1 class="mb-1">New Appointment Schedule</h1>
              <p class="mb-md-0">Create your appointment schedules here</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="tab-extra active" id="search-with-button">
        <div class="d-flex flex-wrap align-items-center mb-4">
          <div class="iq-search-bar search-device mb-0 pr-3">
            <form action="#" class="searchbox">
              <input type="text" class="text search-input" placeholder="Search...">
            </form>
          </div>
          <div class="float-sm-right"><a href="page-new-event.html" class="btn btn-primary pr-5 position-relative" style="height: 40px;">Add Event<span class="event-add-btn" style="height: 40px;"><i class="ri-add-line"></i></span></a></div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="container py-5">
    <form>
      <div class="row">
        <div class="col-lg-12">
          <div class="floating-input form-group mb-5">
            <select class="form-control" type="text" name="category" id="category" required [(ngModel)]="category">
              <option disabled selected value=""></option>
              <option value="abroad">Abroad</option>
              <option value="nigeria">Nigeria</option>
              <option value="program">Program/Open Heaven</option>
            </select>
            <label class="form-label" for="category">Category</label>
          </div>
        </div>

        @if (category === 'abroad') {
          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <select class="form-control" type="text" name="country" id="country" required>
                <option disabled selected value=""></option>
                <option value="uk">United Kingdom</option>
                <option value="usa">United States of America</option>
              </select>
              <label class="form-label" for="country">Country*</label>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <select class="form-control" type="text" name="state" id="state" required>
                <option disabled selected value=""></option>
                <option value="abroad">Delaware</option>
                <option value="nigeria">Massachusetts</option>
                <option value="program">Texas</option>
              </select>
              <label class="form-label" for="state">State*</label>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <select class="form-control" type="text" name="zone" id="zone" required>
                <option disabled selected value=""></option>
                <option value="nigeria">Texas 1</option>
                <option value="program">Texas 2</option>
              </select>
              <label class="form-label" for="zone">Zone*</label>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="floating-input form-group mb-5">
              <input class="form-control" type="text" name="name" id="name" required />
              <label class="form-label" for="email">Name*</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="floating-input form-group mb-5">
              <input class="form-control" type="text" name="email" id="email" required />
              <label class="form-label" for="email">Email*</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="floating-input form-group mb-5">
              <input class="form-control" type="text" name="phone-number" id="phone-number" required />
              <label class="form-label" for="phone-number">Phone Number*</label>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="floating-input form-group mb-5">
              <input class="form-control" type="text" name="street" id="street" required />
              <label class="form-label" for="street">Street Address*</label>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <input class="form-control" type="text" name="postal-code" id="postal-code" required />
              <label class="form-label" for="postal-code">Postal Code</label>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <select class="form-control" type="text" name="companions" id="companions" required>
                <option disabled selected value=""></option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <label class="form-label" for="companions">Any Companions?*</label>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <select class="form-control" type="text" name="number-of-persons" id="number-of-persons" required>
                <option disabled selected value=""></option>
                <option value="abroad">Delaware</option>
                <option value="nigeria">Massachusetts</option>
                <option value="program">Texas</option>
              </select>
              <label class="form-label" for="number-of-persons">Number of Persons*</label>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="floating-input form-group mb-5">
              <select class="form-control" type="text" name="relationship" id="relationship" required>
                <option disabled selected value=""></option>
                <option value="nigeria">Texas 1</option>
                <option value="program">Texas 2</option>
              </select>
              <label class="form-label" for="relationship">Zone*</label>
            </div>
          </div>

          <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        }
      </div>
    </form>
  </div>
</div>

